name: sentiric

x-common-settings: &common-settings
  dns:
    - ${DISCOVERY_SERVICE_IPV4_ADDRESS:-10.88.5.1}
    - ${PRIMARY_DNS:-8.8.8.8}
    - ${SECONDARY_DNS:-1.1.1.1}
  dns_search:
    - ${DISCOVERY_DNS_SEARCH_DOMAIN:-service.sentiric.cloud}
  restart: always

networks:
  sentiric-net:
    driver: bridge
    name: sentiric-net
    ipam:
      config:
        - subnet: ${NETWORK_SUBNET:-10.88.0.0/16}
          gateway: ${NETWORK_GATEWAY:-10.88.0.1}

services:

  sip-signaling-service:

    <<: *common-settings

    image: ghcr.io/sentiric/sentiric-sip-signaling-service:${TAG:-latest}

    build:
      context: ../sentiric-sip-signaling-service
      dockerfile: Dockerfile

    environment:
      # --- Identity ---
      - SERVICE_NAME=sentiric-sip-signaling-service
      - ENV=development
      - RUST_LOG=info,sentiric_sip_signaling_service=debug

      # --- Network (Internal) ---
      # farklı zonelara çalılşması için ayrı compose?
      #- SIP_SIGNALING_SERVICE_PUBLIC_IP=${ZONE_ONPREM_TR_ANT2_BACKBONE_IP}
      - SIP_SIGNALING_SERVICE_PUBLIC_IP=100.87.231.9
      - SIP_SIGNALING_SERVICE_HOST=sip-signaling-service
      - SIP_SIGNALING_SERVICE_DNS_NAME=${SIP_SIGNALING_SERVICE_HOST:-sip-signaling-service}.${DISCOVERY_DNS_SEARCH_DOMAIN:-service.sentiric.cloud}
      - SIP_SIGNALING_SERVICE_IPV4_ADDRESS=10.88.30.2
      - SIP_SIGNALING_SERVICE_HTTP_PORT=13020
      - SIP_SIGNALING_SERVICE_GRPC_PORT=13021
      - SIP_SIGNALING_SERVICE_METRICS_PORT=13022
      - SIP_SIGNALING_SERVICE_WS_PORT=13023
      - SIP_SIGNALING_SERVICE_SIP_PORT=13024
      - SIP_SIGNALING_SERVICE_REALM="${PROJECT_NAME:-sentiric}_demo"

      # sip public olarak, sip signaling ip gizlenmeli?
      #- SIP_GATEWAY_SERVICE_PUBLIC_IP=${ZONE_GCP_US_CENTRAL1_PUBLIC_IP}
      - SIP_SIGNALING_SERVICE_PUBLIC_IP=34.122.40.122
      - SIP_SIGNALING_SERVICE_CONTACT_IP=100.87.231.9
      - SIP_SIGNALING_SERVICE_ADVERTISED_PORT=13024

      # --- Dependencies ---
      - REDIS_URL=redis://redis:6379/0
      - RABBITMQ_URL=amqp://sentiric:sentiric_pass@rabbitmq:5672/%2f

      - USER_SERVICE_TARGET_GRPC_URL=user-service:12011
      - DIALPLAN_SERVICE_TARGET_GRPC_URL=dialplan-service:12021
      - MEDIA_SERVICE_TARGET_GRPC_URL=media-service:13031
      - MEDIA_SERVICE_PUBLIC_IP=34.122.40.122

      # --- Security ---
      - GRPC_TLS_CA_PATH=/sentiric-certificates/certs/ca.crt
      - SIP_SIGNALING_SERVICE_CERT_PATH=/sentiric-certificates/certs/sip-signaling-service.crt
      - SIP_SIGNALING_SERVICE_KEY_PATH=/sentiric-certificates/certs/sip-signaling-service.key

    volumes:
      - "${CERTIFICATES_REPO_PATH:-../sentiric-certificates}:/sentiric-certificates:ro"

    networks:
      sentiric-net:
        ipv4_address: ${SIP_SIGNALING_SERVICE_IPV4_ADDRESS:-10.88.30.2}

    ports:
      - "${SIP_SIGNALING_SERVICE_HTTP_PORT:-13020}:${SIP_SIGNALING_SERVICE_HTTP_PORT:-13020}"
      - "${SIP_SIGNALING_SERVICE_GRPC_PORT:-13021}:${SIP_SIGNALING_SERVICE_GRPC_PORT:-13021}"
      - "${SIP_SIGNALING_SERVICE_METRICS_PORT:-13022}:${SIP_SIGNALING_SERVICE_METRICS_PORT:-13022}"
      - "${SIP_SIGNALING_SERVICE_WS_PORT:-13023}:${SIP_SIGNALING_SERVICE_WS_PORT:-13023}"
      - "${SIP_SIGNALING_SERVICE_SIP_PORT:-13024}:${SIP_SIGNALING_SERVICE_SIP_PORT:-13024}/udp"
      - "${SIP_SIGNALING_SERVICE_SIP_PORT:-13024}:${SIP_SIGNALING_SERVICE_SIP_PORT:-13024}/tcp"

    healthcheck:
      test: [ "CMD-SHELL", "pgrep -f sentiric-sip-signaling-service || exit 1" ]
    # depends_on:
    #   # Uygulama Servisleri -> Sadece 'started' olmaları yeterli       
    #   user-service: { condition: service_started }
    #   dialplan-service: { condition: service_started }
    #   media-service: { condition: service_started }
